@model WebApplicationBase.Commons.PaginatedList<WebApplicationBase.ViewModels.FvmBasePage.VM_Data>
@* List<WebApplicationBase.ViewModels.FvmBaseModel.VM_Data> *@

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}
<h1>Order</h1>

<form asp-action="Index" class="mt-3" id="form_search">
    <div class="row">
        <div class="col-sm col-md-6 col-lg-3 col-xl-3">
            <label class="custom-label">客戶名稱</label>
            <div class="form-group form-row">
                <div class="col">
                    <input id="input_customer" type="text" class="form-control mr-2" name="searchStringCustomer" value="@ViewData["CurrentFilterCustomer"]" />
                </div>
            </div>
        </div>
        <div class="col-sm col-md-6 col-lg-3 col-xl-3">
            <label class="custom-label">訂單編號</label>
            <div class="form-group form-row">
                <div class="col">
                    <input id="input_number" type="text" class="form-control mr-2" name="searchStringNumber" value="@ViewData["CurrentFilterNumber"]" />
                </div>
            </div>
        </div>
    </div>
    <div class="text-right">
        <button type="submit" class="btn btn-secondary mb-2">查詢資料</button>
        <button class="btn btn-outline-secondary mb-2" onclick="clearSearch();">清空查詢</button>
    </div>
    <hr class="mt-0">
    <div class="d-flex justify-content-end">
        <div class="col-2 px-0">
            <div class="form-group">
                <select class="form-control" name="sortOrder" onchange="this.form.submit()">
                    <option value="0" selected="@((string)ViewData["CurrentSort"] == "0")">預設排序</option>
                    <option value="1" selected="@((string)ViewData["CurrentSort"] == "1")">出貨日期 高→低</option>
                    <option value="2" selected="@((string)ViewData["CurrentSort"] == "2")">出貨日期 低→高</option>
                    <option value="3" selected="@((string)ViewData["CurrentSort"] == "3")">訂單總額 高→低</option>
                    <option value="4" selected="@((string)ViewData["CurrentSort"] == "4")">訂單總額 低→高</option>
                </select>
            </div>
        </div>
    </div>


    @if (Model != null)
    {
        <div class="mb-3 row">
            <div class="col-3"><label class="form-label">Title</label></div>
            <div class="col-3"><label class="form-label">Content</label></div>
            <div class="col-4"></div>
            <div class="col-2">功能</div>
        </div>
        @foreach (var item in Model)
        {
            <hr />
            <div class="mb-3 row">
                <div class="col-3">@item.Title</div>
                <div class="col-3">@item.Content</div>
                <div class="col-4"></div>
                <div class="col-2">
                    <button class="btn btn-secondary updateBtn" value="@item.ID">編輯</button>
                    <button class="btn btn-danger deleteBtn" value="@item.ID">刪除</button>
                </div>
            </div>
        }
    }
   

    <div class="list-pagination mt-3">
        <div class="form-inline text-center">
            <div class="mx-auto">
                每頁
                <select class="custom-select" name="pageSize" onchange="changePageSize()">
                    <option value="5" selected="@((int)ViewData["pageSize"]==5)">5</option>
                    <option value="10" selected="@((int)ViewData["pageSize"]==10)">10</option>
                    <option value="30" selected="@((int)ViewData["pageSize"]==30)">30</option>
                    <option value="50" selected="@((int)ViewData["pageSize"]==50)">50</option>
                </select>，第 <span>@(Model.TotalPages < Model.PageIndex ? 0 : Model.PageIndex) / @Model.TotalPages</span> 頁，共 <span>@Model.TotalPages</span> 頁，
                <a asp-action="Index"
                   asp-route-sortOrder="@ViewData["CurrentSort"]"
                   asp-route-pageNumber="@(Model.PageIndex - 1)"
                   asp-route-currentFilterNumber="@ViewData["CurrentFilterNumber"]"
                   asp-route-CurrentFilterCustomer="@ViewData["CurrentFilterCustomer"]"
                   asp-route-pageSize="@ViewData["PageSize"]"
                   class="btn btn-outline-secondary btn-sm @prevDisabled">
                    上一頁
                </a>｜跳至第
                <select id="select_goToPage" class="custom-select" name="goToPageNumber" onchange="goToPage();">
                    <option>
                        選擇
                    </option>
                    @for (var i = 1; i <= Model.TotalPages; i++)
                    {
                        <option value="@i" selected="@(Model.PageIndex == i)">
                            @i
                        </option>
                    }
                </select>
                頁｜
                <a asp-action="Index"
                   asp-route-sortOrder="@ViewData["CurrentSort"]"
                   asp-route-pageNumber="@(Model.PageIndex + 1)"
                   asp-route-currentFilterNumber="@ViewData["CurrentFilterNumber"]"
                   asp-route-CurrentFilterCustomer="@ViewData["CurrentFilterCustomer"]"
                   asp-route-pageSize="@ViewData["PageSize"]"
                   class="btn btn-outline-secondary btn-sm @nextDisabled">
                    下一頁
                </a>

            </div>
        </div>
    </div>
</form>


@section Scripts {
    <script type="text/javascript">
        function clearSearch() {
            $('#input_customer').val('')
            $('#input_number').val('')
            $('#form_search').submit()
        }
        function goToPage() {
            $('#form_search').submit()
        }
        function changePageSize() {
            $('#form_search').submit()
        }
    </script>
}