@using WebApplicationBase.Enums;
@model WebApplicationBase.ViewModels.FvmDynamic.VM_PageData
@{

}

@section scripts {
    <script>
        var PageScope = {
            Url: {
                Index: "@Url.Action("Index", "BaseDynamicTemplate")",
                Create: "@Url.Action("Create", "BaseDynamicTemplate")",
                Update: "@Url.Action("Update", "BaseDynamicTemplate")",
                Delete: "@Url.Action("Delete", "BaseDynamicTemplate")",
                Dynamic: "@Url.Action("Dynamic", "BaseDynamicTemplate")",
            },
            Page: {
                PageIndex: @Model.PageIndex,
                PagesTotal: @Model.PagesTotal,
                PagePreviousDisabled: "@Model.HasPreviousPage",
                PageNextDisabled: "@Model.HasNextPage",
            },
            StatusType: {
                Success: @((int)StatusEnum.Success),
                Fail: @((int)StatusEnum.Fail),
            },
        };
    </script>
    <script type="text/javascript" src="@Url.Content("~/js/Page/Index.js")" asp-append-version="true"></script>
     <script type="text/javascript" src="@Url.Content("~/js/BaseDynamicTemplate/Index.js")" asp-append-version="true"></script> 
   @* <script type="text/javascript" src="@Url.Content("~/js/BaseDynamicTemplate/Delete.js")" asp-append-version="true"></script> *@
}
BaseDynamicTemplate
<div class="row mb-3">
    <div class="col-10"></div>
    <div class="col-2">
        <button class="btn btn-secondary btnCreate">新增</button>
    </div>
</div>

<form id="form" asp-action="Index" method="get" class="mt-3">
    @if (Model.PageListData != null)
    {
       @*  <div class="row mb-3">
            <div class="col-3">
                帳號
            </div>
            <div class="col-3">
                姓名
            </div>
            <div class="col-4"></div>
            <div class="col-2">功能</div>
        </div> *@
        @foreach (var item in Model.PageListData)
        {
            <div class="row mb-3">
                <div class="col-3">
                    @item.Acount
                </div>
                <div class="col-3">
                    @item.Name
                </div>
                <div class="col-4"></div>
                <div class="col-2">
                    <button type="button" class="btn btn-primary btnEdit" value="@item.Id">編輯</button>
                    <button type="button" class="btn btn-danger btnDelete" value="@item.Id">刪除</button>
                </div>
            </div>
        }
    }
    <div id="page" class="form-inline text-center"></div>
</form>